%h1
  %center(class="") 教員ログイン

= form_for(:teacher_sessions, url: teacher_login_path) do |f|
  .main
    .email-form
      = f.label :email,class:"text"
      = f.email_field :email,class:"typebox"

    .pass-form
      = f.label :password,class:"text"
      = f.password_field :password,class:"typabox"

  %center(class="login-button")= f.submit 'ログイン'
