%h1(class="title-box")
  %p(class="title") 学生アカウント作成

= form_for(@student, url: students_new_path) do |f|
  .main-student-new
    .typa-form
      .error_messages-new
        = render 'error_messages'
      .name-box
        = f.label :name, '氏名',class:"text"
        = f.text_field :name,class:"type-box"

      
      .number-box
        = f.label :education_number, '学籍番号',class:"text"

      .pass-box
        = f.label :password, 'パスワード',class:"text"
        = f.password_field :password,class:"type-box-pass"

      .pass-box
        = f.label :password_confirmation, 'パスワード確認',class:"text"
        = f.password_field :password_confirmation,class:"type-box-pass"

    .create-button-box
      = f.submit '作成',class:"create-button"

= link_to '<<教員トップページへ', teacher_path(current_teacher.id)
