.new-title-space
  %p(class="new-title") 学生アカウント作成

= form_for(@student, url: students_new_path) do |f|
  .new-main
    .typa-form
      .new-error_messages
        = render 'error_messages'
      .new-name-box
        = f.label :name, '氏名',class:"new-text"
        = f.text_field :name,class:"new-type-box"


      .new-number-box
        = f.label :education_number, '学籍番号',class:"new-text"
        = f.text_field :education_number,class:"new-type-box"

      .new-pass-space
        = f.label :password, 'パスワード',class:"new-text"
        = f.password_field :password,class:"new-type-box-pass"

      .new-pass-space
        = f.label :password_confirmation, 'パスワード確認',class:"new-text"
        = f.password_field :password_confirmation,class:"new-type-box-pass"

    .new-create-button-space
      = f.submit '作成',class:"new-create-button"

= link_to '教員トップページ', teacher_path(current_teacher.id),class:"new-back-to-top"
