.new-title
  %center 学生ログイン

= form_for(:student_sessions, url: student_login_path, html: { id: 'student_login_form' }) do |f|
  .new-main
    .form-number
      .new-edu-number
        = f.label :education_number, '学籍番号',class:"new-text"
        = f.text_field :education_number,class:"new-type-box"

      .new-password
        = f.label :password,'パスワード',class:"new-text"
        = f.password_field :password,class:"new-type-box"

    %tr
      %td Snapshot
      %td
        #snapshot(style="width: 700px; height: 460px;")
      = f.hidden_field :snapshot

  .new-login-button
    = f.submit'自撮り＆打刻する',class:"new-button"

:javascript
  Webcam.attach('snapshot');
  Webcam.set( 'constraints', {
    width: 700,
    height: 460
  });
  function _submit() {
    Webcam.snap( data_uri => {
      document.getElementById('student_sessions_snapshot').value = data_uri;
      document.getElementById('student_login_form').submit();
    });
  }
