%h1(class="title")
  %center 教員管理画面

%h2
  %center #{current_teacher.name} 先生

<<<<<<< HEAD
.teacher-buttons-box(align="center")
  = link_to 'アカウント登録', "#"
  = link_to 'ルール設定', "#"
  = link_to '実施日設定', "#"


.teacher-stilyet-buttons
  = link_to 'チェック済み 5件', class: "yet-button"
  = link_to '未チェック 3件', class: "stil-button"



%h4
  %center= link_to 'ログアウト', teacher_logout_path, method: :delete
=======
%center= link_to '打刻管理ページ', timecards_path

%center= link_to 'ログアウト', teacher_logout_path, method: :delete
>>>>>>> origin/master
