%h1(class="title")
  %center 教員管理画面

%h2(class="ptint-teacher-name")
  %center #{current_teacher.name} 先生

.teacher-menu-box(align="center")
  = link_to 'アカウント登録', "#",class:"menu-button"
  = link_to 'ルール設定', "#",class:"menu-button"
  = link_to '実施日設定', "#",class:"menu-buttont"


%h4
  %center= link_to 'ログアウト', teacher_logout_path,class:"logout_button" ,method: :delete
